*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Arial, sans-serif;
  background: #fff9db;
  color: #5c4b00;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 60px;
  background: #fff3b0;
}

header h1{
  font-size: 24px;
}

nav a{
  text-decoration: none;
  color: #5c4b00;
  margin-left: 25px;
  font-size: 15px;
}

.hero{
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.hero h2{
  font-size: 60px;
  margin-bottom: 20px;
}

.hero p{
  width: 600px;
  max-width: 90%;
  line-height: 1.7;
  margin-bottom: 30px;
  color: #7a6a1f;
}

button{
  padding: 14px 35px;
  border: none;
  background: #f4c542;
  color: white;
  font-size: 15px;
  cursor: pointer;
  border-radius: 30px;
}